html, body {
    margin: 0;
}

nav {
    background-color: coral;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

header {
    height: 60vh;
    background-image: url(./images/fish0.jpg);
    color: white;
    background-size: cover;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px black;
    flex-direction: column;
}


h1 {
    margin: 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row > img {
    width: 50%;
}

.row > p {
    width: 50%;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    padding: 20px;
    background-color: #c4c4c4;
   
}

header > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: dashed 2px;
    margin-top: 20px;
    text-shadow: none;
}

header > a:hover {
    background-color: white;
    color: black;
}